In [1]:
import csv
import json
import pandas as pd

In [2]:
path = "mimic-iii-clinical-database-1.4/CHARTEVENTS.csv"
data = pd.read_csv(path, chunksize=10000000)

In [3]:
patient_36 = data.get_chunk(2000)

In [4]:
patient_36 = patient_36[patient_36["SUBJECT_ID"] == 36]

In [5]:
patient_36

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,STORETIME,CGID,VALUE,VALUENUM,VALUEUOM,WARNING,ERROR,RESULTSTATUS,STOPPED
0,788,36,165660,241249,223834,2134-05-12 12:00:00,2134-05-12 13:56:00,17525,15.00,15.00,L/min,0,0,NaN,NaN
1,789,36,165660,241249,223835,2134-05-12 12:00:00,2134-05-12 13:56:00,17525,100.00,100.00,NaN,0,0,NaN,NaN
2,790,36,165660,241249,224328,2134-05-12 12:00:00,2134-05-12 12:18:00,20823,0.37,0.37,NaN,0,0,NaN,NaN
3,791,36,165660,241249,224329,2134-05-12 12:00:00,2134-05-12 12:19:00,20823,6.00,6.00,min,0,0,NaN,NaN
4,792,36,165660,241249,224330,2134-05-12 12:00:00,2134-05-12 12:19:00,20823,2.50,2.50,NaN,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1904,2004,36,165660,241249,220179,2134-05-16 14:00:00,2134-05-16 14:01:00,15065,148.00,148.00,mmHg,0,0,NaN,NaN
1905,2005,36,165660,241249,220180,2134-05-16 14:00:00,2134-05-16 14:01:00,15065,91.00,91.00,mmHg,0,0,NaN,NaN
1906,2006,36,165660,241249,220181,2134-05-16 14:00:00,2134-05-16 14:01:00,15065,105.00,105.00,mmHg,0,0,NaN,NaN
1907,2007,36,165660,241249,220210,2134-05-16 14:00:00,2134-05-16 14:01:00,15065,20.00,20.00,insp/min,0,0,NaN,NaN
1908,2008,36,165660,241249,220277,2134-05-16 14:00:00,2134-05-16 14:01:00,15065,92.00,92.00,%,0,0,NaN,NaN

In [6]:
path = "mimic-iii-clinical-database-1.4/ICUSTAYS.csv"
data = pd.read_csv(path, chunksize=10000000) 
patient_36_icu_stay = data.get_chunk(2000)
patient_36_icu_stay = patient_36_icu_stay[patient_36_icu_stay["SUBJECT_ID"] == 36]